name: "AlloAllo"

on:
  issues:
    types:
      - opened
  pull_request_target:
    branches:
      - main
    types:
      - opened

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  AlloAllo:
    name: Welcome new contributors
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: SetupNode
        uses: actions/setup-node@v3.5.0
        with:
          node-version: "16"
          registry-url: "https://registry.npmjs.org"
      - name: Install
        run: npm install
      - name: AlloAllo
        uses: schalkneethling/allo-allo@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
